*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(211, 218, 225);
  font-family: "Open Sans", sans-serif;
}

.container{
  background-color: white;
  max-width: 400px;
  max-height: 75vh;
  margin: 200px auto;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);

}

.container h2{
  padding-bottom: 25px;
  font-size: 23px;
  font-weight: 650;
}

.profile{
  display: flex;
  margin-bottom: 20px;
}

.profile img{
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile .profile-info{
  align-content: center;
}

.profile p:first-of-type{
  font-size: 12px;
  color: rgb(34, 34, 34);
}

.profile p:last-of-type{
  font-weight: 600;
  font-size: 15px;
  color: rgb(34, 34, 34);
}

.input-feild{
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.password-field label{
  color: rgb(34, 34, 34);
  font-size: 12px;
}

.input-feild input{
  display: block;
  font-size: 17px;
  padding: 5px;
  width: 80%;
  border: 1px solid rgb(30, 30, 30);
  border-radius: 5px;
  margin-top: 2px;
}

.input-feild img{
  object-fit: contain;
  cursor: pointer;
}

.cta{
  display: flex;
  gap: 35px;
  margin-bottom: 17px;
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 24px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .toggle-slider {
  background-color: #2c3e50;
}

input:checked + .toggle-slider:before {
  transform: translateX(20px);
}

.toggle-label {
  font-size: 14px;
  color: rgb(34, 34, 34);
  cursor: pointer;
  user-select: none;
  font-weight: bold;
}

.cta button{
  color: #fff;
  background-color: rgb(20, 20, 20);
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.cta button:hover{
  background-color: #2f2f2f;
}

a{
  color: #2f2f2f;
  font-weight: bold;
  font-size: 14px;
}